<h2>Show five</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @five.name %>
  </li>

  <li>
    <strong>Comment:</strong>
    <%= @five.comment %>
  </li>

</ul>

<%= link "Edit", to: five_path(@conn, :edit, @five) %>
<%= link "Back", to: five_path(@conn, :index) %>
