<form>
  <div class="col-sm-8 col-sm-offset-3">
    <label for="name">Enter your name:</label>
    <input type="text" id="name" name="name" />
  </div>
  <div class="col-sm-8 col-sm-offset-3">
    <input type="submit" class="btn btn-primary">
  </div>
</form>
